html{
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
body{
	margin:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
	display:block
}
audio,canvas,progress,video{
	display:inline-block;
	vertical-align:baseline
}
audio:not([controls]){
	display:none;
	height:0
}
[hidden],template{
	display:none
}
a{
	background-color:transparent
}
a:active,a:hover{
	outline:0
}
abbr[title]{
	border-bottom:1px dotted
}
b,strong{
	font-weight:bold
}
dfn{
	font-style:italic
}
h1{
	font-size:2em;
	margin:0.67em 0
}
mark{
	background:#ff0;
	color:#000
}
small{
	font-size:80%
}
sub,sup{
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sup{
	top:-0.5em
}
sub{
	bottom:-0.25em
}
img{
	border:0
}
svg:not(:root){
	overflow:hidden
}
figure{
	margin:1em 40px
}
hr{
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:0
}
pre{
	overflow:auto
}
code,kbd,pre,samp{
	font-family:monospace, monospace;
	font-size:1em
}
button,input,optgroup,select,textarea{
	color:inherit;
	font:inherit;
	margin:0
}
button{
	overflow:visible
}
button,select{
	text-transform:none
}
button,html input[type="button"],input[type="reset"],input[type="submit"]{
	-webkit-appearance:button;
	cursor:pointer
}
button[disabled],html input[disabled]{
	cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
	border:0;
	padding:0
}
input{
	line-height:normal
}
input[type="checkbox"],input[type="radio"]{
	box-sizing:border-box;
	padding:0
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{
	height:auto
}
input[type="search"]{
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
	-webkit-appearance:none
}
fieldset{
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding:0.35em 0.625em 0.75em
}
legend{
	border:0;
	padding:0
}
textarea{
	overflow:auto
}
optgroup{
	font-weight:bold
}
table{
	border-collapse:collapse;
	border-spacing:0
}
td,th{
	padding:0
}
body{
	background: #191919
}
.section:nth-child(even),.section.footer{
	background:#000
}
body{
	font-family:'Fira Code', monospace;
	color:#fff
}
.lead{
	font-size:1rem;
	font-weight:bold
}
a:link,a:visited{
	text-decoration:none;
	color: red
}
a:link:hover,a:visited:hover{
	color: rgb(red, green, blue)
}
.birdy{
	position:absolute;
	top:28px;
	right:28px;
	font-size:21px
}
.home .intro{
	text-align:center;
	min-height:90vh;
	display:flex;
	align-items:center;
	justify-content:center
}
.home .intro>div{
	padding:50px 30px
}
.home .intro>div canvas{
	margin-bottom:12px;
	max-width:256px;
	width:50vw
}
.home .intro>div h1{
	margin-bottom:0
}
.home .intro>div p{
	color:#aaa
}
.home .intro>div a{
	margin-top:28px;
	font-size:13pt;
	display:block
}
.home .credits-section{
	margin:0 -20px;
	position:relative
}
.home .credits-section a{
	vertical-align:middle;
	padding:12px 20px;
	display:inline-block;
	box-sizing:border-box;
	white-space:nowrap;
	word-wrap:break-word;
	text-overflow:ellipsis;
	overflow:hidden;
	position:relative;
	top:-7px;
	width:33%
}
@media (max-width: 700px){
	.home .credits-section a{
		width:50%
}
}
@media (max-width: 500px){
	.home .credits-section a{
		width:100%
}
}
.home .credits-section a img{
	border-radius:50%;
	position:relative;
	top:7px;
	background:#ddd;
	width:24px;
	height:24px
}
.home .install-instruction{
	padding-top:10px
}
.release ul.downloads,.release ul.downloads>li{
	margin:0;
	padding:0;
	list-style:none
}
/*.release .smart-downloads .help{
	color:#aaa;
	font-size:9pt;
	display:block;
	margin-top:-8px;
	margin-bottom:24px
}
.release .smart-downloads *[show-if]{
	display:none
}
*/
.release hr{
	margin:32px 0
}
.release a.download-btn{
	display:inline-block;
	margin-bottom:20px;
	max-width:100%
}
.release a.download-btn span{
	display:block
}
.release a.download-btn .extra-info{
	margin-top:4px;
	font-size:11px;
	color:#888;
	word-wrap:break-word
}
.release a.download-btn.primary{
	background:rgba(255,255,255,0.1);
	border-radius:6px;
	padding:12px 16px
}
.release a.download-btn.primary:hover{
	background:rgba(255,255,255,0.15)
}
.section{
	text-align:center;
	padding:40px 20px
}
.section>h2{
	margin-top:0
}
.section>div{
	margin:0 auto;
	max-width:800px;
	text-align:initial;
	overflow-x:hidden
}
.section-more>a{
	margin-top:20px;
	display:inline-block
}
.info{
	font-size:16px
}
hr{
	border:none;
	border-top:1px solid rgba(255,255,255,0.3)
}
/*.boyalı-yazı{
    color: yellow;
}*/
@keyframes color-change {
    0% { color: crimson; }
    10% { color: magenta; }
    20% { color: aquamarine; }
    30% { color: darkcyan; }
    40% { color: blue; }
    50% { color: orangered; }
    60% { color: greenyellow; }
    70% { color: forestgreen; }
    80% { color: darkgoldenrod; }
    90% { color: gold; }
    100% { color: red; }
}
a:link {
    animation: color-change 4s infinite;
  }
